<div class="row" id="default-modal-container">
    <div class="hidden" id="default-modal-loading">
        <div class="modal-header">
            <button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
            <h4 class="modal-title">Loading . . . </h4>
        </div>
        <div class="modal-body text-center">
            <div class="preloader pl-lg m-b-10">
                <svg class="pl-circular" viewBox="25 25 50 50">
                    <circle class="plc-path" cx="50" cy="50" r="20"></circle>
                </svg>
            </div>
        </div>
    </div>
    <div class="hidden" id="default-modal-loading-error">
        <div class="modal-header">
            <button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
            <h4 class="modal-title">Ha ocurrido un error </h4>
        </div>
        <div class="modal-body text-center">
            <h3><i class="zmdi zmdi-alert-circle zmdi-hc-lg zmdi-hc-fw"></i> Error, recurso no disponible. Por favor inténtelo más tarde.</h3>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>